body {
    background: rgba(245,238,225,1);
    font-family: Arial, Helvetica, sans-serif;
    color: #201102;
    text-align: center;
    margin: 0px;
    
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}

#intro h3 {
    padding: 4px;
}

#avatar {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid;
    border-color: #419c59;
}

#conteudo {
    margin: 15px;
}

#conteudo nav {
    margin-bottom: 20px 0px;
}

.botao {
    color: #419c59;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    
    padding: 5px;
    margin: 5px;
}

.botao:hover {
    color: #61c77c;

    transition: color 0.3s;
}

#conteudo iframe {
    border: none;
    width: 1300px;
    height: 400px;
}
