body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245,238,225,1);
}

table {
    width: 80%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
}

th.titulo {
    padding: 10px;
    background: #87ffb94f;
}

table td {
    padding: 5px;
}

